* {
    background-color: aqua;
}

#clock-container {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#button-container {
    display:flex;
    justify-content: center;
}

h1 {
    font-size: xxx-large;
    display:flex;
    justify-content: center;
    margin-top: 100px;
}